.about-header {
  overflow: hidden;
  padding-bottom: 144px;

  @include media-breakpoint-up(md) {
    padding-top: 110px;
    padding-bottom: 170px;
  }
}

@include media-breakpoint-down(md) {
  .about-img {
    margin: 0 -80px;

    img {
      width: 100%;
    }
  }
}
