// COLORS
$primary: #20cdc1;
$primary-light: #84d8cf;
$danger: #f37b7b;
$danger-light: #f3a3a3;
$dark: #555555;
$light: #777777;
$grey: #f4f4f4;
$disabled: #cfdada;

// CONTAINER
$container-padding-x: 26px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1232px,
);

// SPACING
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  // -------------
  5px: 5px,
  10px: 10px,
  12px: 12px,
  15px: 15px,
  18px: 18px,
  20px: 20px,
  22px: 22px,
  25px: 25px,
  30px: 30px,
  35px: 35px,
  40px: 40px,
  42px: 42px,
  44px: 44px,
  45px: 45px,
  54px: 54px,
  50px: 50px,
  55px: 55px,
  65px: 65px,
  74px: 74px,
  80px: 80px,
  100px: 100px,
  144px: 144px,
  170px: 170px,
  150px: 150px,
  200px: 200px,
);

// COLORS
$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "light": $light,
  "grey": $grey,
  "disabled": $disabled,
);
